[Unit]
Description=Send notifications for things on a fixed, repeated schedule
Documentation=https://github.com/cdown/habitual

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=/usr/sbin/habitual

[Install]
WantedBy=graphical-session.target
