[Unit]
Description=ListenBrainz submission client for MPD
Documentation=https://codeberg.org/elomatreb/listenbrainz-mpd
Documentation=man:listenbrainz-mpd(1)
After=mpd.service

[Service]
Type=simple
Restart=always
RestartSec=5
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=%h/.cargo/bin/listenbrainz-mpd -c %h/.config/listenbrainz-mpd/config.toml

[Install]
WantedBy=mpd.service
