[Unit]
Description=Bluetooth battery monitor
Documentation=https://codeberg.org/mtmn/plants
After=bluetooth.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/opt/tools/plants-daemon

[Install]
WantedBy=default.target
