[Unit]
Description=Portal service
PartOf=graphical-session.target
Requires=dbus.service
After=dbus.service

[Service]
Type=dbus
BusName=org.freedesktop.portal.Desktop
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=/usr/lib/xdg-desktop-portal
Slice=session.slice
