[submodule "dot_vim/pack/plugins/start/abolish"]
	path = dot_vim/pack/plugins/start/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "dot_vim/pack/plugins/start/ctrlp"]
	path = dot_vim/pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "dot_vim/pack/plugins/start/fugitive"]
	path = dot_vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dot_vim/pack/plugins/start/sleuth"]
	path = dot_vim/pack/plugins/start/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "dot_vim/pack/plugins/start/commentary"]
	path = dot_vim/pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "dot_vim/pack/plugins/start/editorconfig"]
	path = dot_vim/pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "dot_vim/pack/plugins/start/surround"]
	path = dot_vim/pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "dot_vim/pack/plugins/start/solarized"]
	path = dot_vim/pack/plugins/start/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "dot_vim/pack/plugins/start/terraform"]
	path = dot_vim/pack/plugins/start/terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "dot_vim/pack/plugins/start/markdown"]
	path = dot_vim/pack/plugins/start/markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "dot_vim/pack/plugins/start/ack"]
	path = dot_vim/pack/plugins/start/ack
	url = https://github.com/mileszs/ack.vim
[submodule "dot_vim/pack/plugins/start/kotlin"]
	path = dot_vim/pack/plugins/start/kotlin
	url = https://github.com/udalov/kotlin-vim.git
