[submodule "dot_vim/pack/plugins/start/indent-object"]
	path = dot_vim/pack/plugins/start/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "dot_vim/pack/plugins/start/abolish"]
	path = dot_vim/pack/plugins/start/abolish
	url = https://github.com/tpope/vim-abolish
[submodule "dot_vim/pack/plugins/start/ctrlp"]
	path = dot_vim/pack/plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "dot_vim/pack/plugins/start/fugitive"]
	path = dot_vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dot_vim/pack/plugins/start/sleuth"]
	path = dot_vim/pack/plugins/start/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "dot_vim/pack/plugins/start/commentary"]
	path = dot_vim/pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "dot_vim/pack/plugins/start/editorconfig"]
	path = dot_vim/pack/plugins/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "dot_vim/pack/plugins/start/coc"]
	path = dot_vim/pack/plugins/start/coc
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "dot_vim/pack/plugins/start/surround"]
	path = dot_vim/pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
[submodule "dot_vim/pack/plugins/start/solarized"]
	path = dot_vim/pack/plugins/start/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "dot_vim/pack/plugins/start/terraform"]
	path = dot_vim/pack/plugins/start/terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "dot_vim/pack/plugins/start/go"]
	path = dot_vim/pack/plugins/start/go
	url = https://github.com/fatih/vim-go
[submodule "dot_config/x/dot_vim/pack/plugins/start/lucius"]
	path = dot_config/x/dot_vim/pack/plugins/start/lucius
	url = https://github.com/jonathanfilip/vim-lucius
