* {
	font-family: "Cozette";
	font-size: 12px;
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
}
window#waybar {
	background: #15050f;
	color: #dfd0d5;
}
#tags button {
	padding: 0 0px;
	color: #dfd0d5;
	background: transparent;
	min-width: 20px;
}
#tags button.focused {
	color: #dfd0d5;
	border-bottom: 1px solid #3fafcf;
}
#tags button.occupied {
	color: #dfd0d5;
}
#tags button:hover {
	background: #293140;
	color: #dfd0d5;
}
#custom-tailnet,
#custom-plants,
#custom-gammastep,
#custom-backlight,
#custom-network,
#custom-music,
#pulseaudio,
#battery,
#clock,
#disk,
#network,
#backlight {
	padding: 0 10px;
	color: #dfd0d5;
}
#custom-plants:hover,
#custom-gammastep:hover,
#custom-backlight:hover,
#custom-network:hover,
#custom-music:hover,
#pulseaudio:hover,
#battery:hover,
#clock:hover,
#disk:hover,
#network:hover,
#backlight:hover {
	background: #293140;
	color: #dfd0d5;
}
