toolbarbutton.bookmark-item > .toolbarbutton-icon {
	display: none !important;
}

* {
	font-family: "Comic Mono" !important;
	font-size: 12px;
}

.urlbarView-url,
.searchbar-textbox,
#urlbar-input,
.tab-label-container,
.menu-text,
.menu-iconic-text,
.sidebar-placesTreechildren,
#bookmarks-view treechildren,
#historyTree treechildren {
	font-family: "Comic Mono" !important;
}
